{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>{{ object.name }} Details</title>
</head>

<body
    style="background-image: linear-gradient(rgba(0, 0, 0, 0), black), url('{{object.pic.url}}'); background-repeat: no-repeat; background-position: center; background-size: cover; padding: 40px 20px 40px 20px; height: 100vh;">
    <div class="auto_container">
        <div class="alignright">
            <a href="/recipes/">X</a>
        </div>
        <div class="center detail no-max-h">
            <div class="padding">
                <h2>About Me</h2>
                <p>
                    I am Michael Pietroski, a Full Stack Developer and 3D Modeler. Working as a Fresh Developer and
                    professional 3D Artist, I built connections and developed an ability to adjust to problems quickly.
                </p>
                <p>
                    I have created many projects using HTML, CSS, JavaScript, and React, from RESTful API to Mobile Chat
                    Apps. Projects such as Recipe App use PostgreSQL, and Django to fetch user-created recipes. The app
                    presents recipes to the user, providing data in a very accessible way compared to an unformatted
                    text document.
                </p>
                <ul>
                    Links:
                    <li>Portfolio: https://vppelli.github.io/portfolio-website/</li>
                    <li>Linkedin: https://www.linkedin.com/in/michaelpietroski/</li>
                    <li>Github: https://github.com/vppelli</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>