{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>{{ object.name }} Details</title>
</head>

<body
    style="padding: 40px 20px 40px 20px; height: 100vh;">
    <div class="auto_container">
        <div class="alignright">
            <a href="/recipes/">X</a>
        </div>
        <div class="detail">
            <div class="padding container">
                <h2>About Me</h2>
                <p>
                    I am Michael Pietroski, a Full Stack Developer and 3D Modeler. Working as a Fresh Developer and
                    professional 3D Artist, I built connections and developed an ability to adjust to problems quickly.
                    <br>
                    I have created many projects using HTML, CSS, JavaScript, and React, from RESTful API to Mobile Chat
                    Apps.
                    <br>
                    Projects such as Recipe App use PostgreSQL, and Django to fetch user-created recipes. The app presents 
                    recipes to the user, providing data in a very accessible way compared to an unformatted text document.
                </p>
                <h2>Links</h2>
                <div class="container-row">
                    <a class="hug" href="https://vppelli.github.io/portfolio-website/">Portfolio</a>
                    <a class="hug" href="https://www.linkedin.com/in/michaelpietroski/">Linkedin</a>
                    <a class="hug" herf="https://github.com/vppelli">Github</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>