{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>{{ object.name }} Details</title>
</head>
<body style="background-image: linear-gradient(rgba(0, 0, 0, 0), black), url('{{object.pic.url}}'); background-repeat: no-repeat; background-position: center; background-size: cover; padding: 40px 20px 40px 20px; height: 100vh;">
    <div class="auto_container">
        <div class="alignright">
            <a href ="/recipes/">X</a>
        </div>
        <div class="center detail">
            <div class="padding">
                <h2>{{ object.name }}</h2>
                <p>
                    {{ object.about }}
                </p>
                <div class="container-row">
                    <h2>Ingredients</h2>
                    <b>{{ object.cooking_time }} min</b>
                </div>
                <ul>
                    {% for ingredient in object.get_split_ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <a class="btn">Edit Recipe</a>
        </div>
    </div>
</body>
</html>