{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Recipe Home</title>
</head>
<body style="height: 100vh; padding: 40px 20px 40px 20px;">
    <div class="container aligncenter">
        <h1 class="fill">RECIPES APP</h1>
        <div class="bg detail aligncenter padding">
            <h2>
                You have Logged Out!<br>
                To enter the app login again.
            </h2> 
        </div>
        <a class="btn" href="{%url 'login' %}">Let's get started!</a>
    </div>
</body>
</html>